mixin reviews(review_object)
    .reviews
        .reviews__author
            div(class=review_object.img)
            .reviews__author-data
                .reviews__author-name= review_object.name
                .reviews__author-date= review_object.date
        .reviews__content
            +like-buttons('like3', review_object.like, like2, rt)
            .reviews__text= review_object.text         


//- не получается прописать путь к картинге через паг тег img, делаю через див и прописываю бэкграунт в свойствах.
