mixin reviews(array)
    .reviews
        -for(var i=0;  i<array.length; i++)
            .reviews__author
                .reviews__author-img-wrap
                    img.reviews__author-img(src= array[i].img)
                .reviews__author-data
                    .reviews__author-name= array[i].name
                    .reviews__author-date= array[i].date
            .reviews__content
                +like-buttons('like3', array[i].like, like2, rt)
                .reviews__text= array[i].text         



