mixin subscription-text-field(name)
    .form-input-subscription-text-field__input-field
        input.form-input-subscription-text-field__input(type="text" placeholder= name)
        .form-input-subscription-text-field__arrow_forward
            +arrow
   
