.form-input-subscription-text-field{
    position: absolute;
    width: 267px;
    height: 64px;
    left: 140px;
    top: 712px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-input-subscription-text-field__input-field{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(31, 32, 65, 0.75);
}

.form-input-subscription-text-field__input{
    width: 223px;
    border: none;
    color: rgba(31, 32, 65, 0.75);
    padding: 12px;
    
}

.form-input-subscription-text-field__input::-webkit-input-placeholder{
    color: rgba(31, 32, 65, 0.25);
    border: none;
    box-sizing: border-box;
    width: 50x;
    height: 44px;
}

.form-input-subscription-text-field__arrow_forward{
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}