script(type='text/javascript' src='https://cdn.jsdelivr.net/jquery/latest/jquery.min.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js')
link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css')


mixin datepicker
    .datepicker-conteiner
        input(type='text' name='daterange' value='01/08/2019')
            