.room-image-example{
    position: absolute;
    left: 980px;
    top: 856.5px;
}
.room-image-example2{
    position: absolute;
    left: 980px;
    top: 559.5px;
}

.room-image{    
    position: relative;
    width: 270px;
    height: 257px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.room-image__ellipse-group{
    position: absolute;
    width: 41px;
    left: 213.5px;
    top: 128px;
    display: flex;
    justify-content: space-between;
}
.room-image__ellipse-solid{    
    width: 7.5px;
    height: 7.49px;    
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    border-radius: 7px;
}

.room-image__ellipse{    
    width: 7.5px;
    height: 7.49px;   
    border: 1px solid #FFFFFF;   
    border-radius: 7.5px;    
}

.room-image__slider-group{
    position: absolute;
    top:0;
    left:0;
    width: 270px;
    height: 257px;
    display: flex;
    justify-content: space-between;
}

.room-image__slider-left{   
    width: 42px;
    height: 151px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-image__arrow-left{
    width: 10px;
    height: 10px;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    transform: rotate(-45deg);
}

.room-image__slider-right{   
    width: 42px;
    height: 151px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-180deg);
}

.room-image__arrow-right{
    width: 10px;
    height: 10px;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    transform: rotate(-45deg);
}



.room-image__info{
    width: 236px;
    height: 24px;
    display: flex;     
    align-items: flex-end;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 11px;
    margin-left: 20px;
    margin-right: 16px;    
}


.room-image__number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.07px;
    color: #1F2041;
    margin-right: 3px;
    
}

.room-image__number-figure{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: #1F2041;
    margin-right: 3px;   
}

.room-image__category{
    width: 41px;
    height: 15px;        
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;    
    color: #BC9CFF;  
    margin-right: 32px;  
}

.room-image__price-in-day{
    width: 100px;   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;    
    color: rgba(31, 32, 65, 0.5);
    display: flex;
    justify-content: space-between; 
    
}
.room-image__price-in-day b{
    font-size: 14px;
}

.room-image__rating{
    width: 230px;
    height: 24px;
    display: flex;     
    align-items: center;
    justify-content:  space-between;
    margin-top: 8px;
    margin-bottom: 19px;
    margin-left: 20px;
    margin-right: 20px;  

}
.room-image__rating-reviews{     
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;    
    color: rgba(31, 32, 65, 0.5);
    margin-left: 23px;   
    margin-right: 3px;
    margin-top: 2px;
    
}

.room-image__rating-reviews-text{    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;    
    color: rgba(31, 32, 65, 0.5);   
    margin-top: 2px; 
}

.room-image__line{    
    width: 230px;
    border-top: 1px solid;
    border-color: rgba(31, 32, 65, 0.1);
}