mixin room-image2(object)
    -var x = object.stars1
    -var y = object.stars2
    .room-image
        .room-image__picture
            img(src= object.img)
        .room-image__ellipse-group
            .room-image__ellipse-solid 
            .room-image__ellipse
            .room-image__ellipse
            .room-image__ellipse
        .room-image__slider-group
            .room-image__slider-left
                .room-image__arrow-left
            .room-image__slider-right     
                .room-image__arrow-right
        .room-image__info 
            .room-image__number №
            .room-image__number-figure= object.number
            .room-image__category= object.category
            .room-image__price-in-day
                b= object.price
                | в сутки
        .room-image__line
        .room-image__rating
            +rate-buttons-stars(x, y)
            .room-image__rating-reviews= object.reviews
            .room-image__rating-reviews-text Отзывов

            