mixin dropdown-expanded-guests(btn1, btn2)      
    .dropdown-expanded-guests__choice      
        .dropdown-expanded-guests__adults
            div взрослые
            +quantity_inner            
        .dropdown-expanded-guests__children
            div дети
            +quantity_inner              
        .dropdown-expanded-guests__babies
            div младенцы
            +quantity_inner
        .dropdown-expanded-guests__button   
            .dropdown-expanded-guests__button-clear(type = "button" value = "Очистить")= btn1   
            .dropdown-expanded-guests__button-apply(type = "button" value = "Применить")= btn2



