

mixin dropdown-expanded-guests(btn1, btn2)      
    .dropdown-expanded-guests__title
        .dropdown-expanded-guests__type dropdown
    .dropdown-expanded-guests__input-field
        +expand_more 
        input.dropdown-expanded-guests__dropdown-btn(type = "text" value = " Сколько гостей" disabled)         
    .dropdown-expanded-guests__choice      
        .dropdown-expanded-guests__adults
            div взрослые
            +quantity_inner            
        .dropdown-expanded-guests__children
            div дети
            +quantity_inner              
        .dropdown-expanded-guests__babies
            div младенцы
            +quantity_inner
        .dropdown-expanded-guests__button   
            .dropdown-expanded-guests__button-clear(type = "button" value = "Очистить")= btn1   
            .dropdown-expanded-guests__button-apply(type = "button" value = "Применить")= btn2



.dropdown-expanded-guests-1
    +dropdown-expanded-guests('', 'Применить')


.dropdown-expanded-guests-2
    +dropdown-expanded-guests('Отчистить', 'Применить')    