mixin pagination
    .pagination
        .pagination__panel
            .pagination__figure1 1
            .pagination__figure2 2
            .pagination__figure2 3
            .pagination__figure3 ...
            .pagination__figure2 15
            .pagination__figure4
                .pagination__arrow
                    +arrow-forward
        .pagination__text 1 – 12 из 100+ вариантов аренды





.pagination-example
    +titlebox('pagination')
    +pagination
    
        






    
