.dropdown-expanded-rooms{
    position: absolute;
    width: 266px;
    height: 181.56px;
    left: 140px;
    top: 960px;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));;
}
.dropdown-expanded-rooms__title{
    width: 266px; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-expanded-rooms__type{
    width: 81px;
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.dropdown-expanded-rooms__value{
    width: 57px;
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    padding-bottom: 3px;
}

.dropdown-expanded-rooms__input-field{
    width: 266px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
}

.dropdown-expanded-rooms__dropdown-btn {
    width: 266px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    color: rgba(31, 32, 65, 0.75);
}  

.dropdown-expanded-rooms__choice{
    width: 160px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

//кнопки
.quantity_inner {
    box-sizing: border-box;
    display: inline-block;  
}    

.bt_minus,
.bt_plus {
    width: 30px;
    height: 30px;
    background: none;
    color: #c7c7d0;
    cursor: pointer;
    
    
    border: none;

}
.quantity{
    
width: 92px;
height: 15px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-align: center;
text-transform: uppercase;
color: #1F2041;
border: none;
background: none;
}


