mixin bullet-list
    .bullet-list__title bullet list
    ul.bullet-list__list
        li.bullet-list__point Нельзя с питомцами
        li.bullet-list__point Без вечеринок и мероприятий
        li.bullet-list__point Время прибытия — после 13:00, а выезд до 12:00

.bullet-list-example
    +bullet-list