mixin dropdown(name)
    .dropdown
        button.dropdown__btn= name
    +expand_more_closed                 
        //-Ширина авто, а как быть с высотой, для разных дропов, не понял
        //-.dropdown__content        
            .dropdown__choice
                .div test
                +quantity_inner
            .dropdown__choice
                .div test
                +quantity_inner
            .dropdown__choice
                .div test
                +quantity_inner
            
                

