.dropdown-default-rooms
    .dropdown-default-rooms__title
        .dropdown-default-rooms__type dropdown
        .dropdown-default-rooms__value Default
    .dropdown-default-rooms__input-field
        input.dropdown-default-rooms__dropdown-btn(type="text" placeholder= '2 спальни, 2 кровати...')       
        +expand_more    
    
    