.dropdown-example{
    position: absolute;
    width: 320px;
    height: 64.44px;
    left: 141px;
    top: 311px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__btn{   
    width: 320px;
    height: 44px;
    outline: none;
    display: inline-block;
    text-align: left;
    padding-left: 15px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.dropdown__content {
    display: none;    
}

.dropdown:hover .dropdown__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height:auto;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-top: none;
    padding-top: 7px;
    padding-bottom: 13px;
    padding-left: 14px;
    padding-right: 7px;
    z-index: 1;
    position: absolute;
}

.dropdown:hover .dropdown__choice {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1px;
    margin-bottom: 7px;
}




