.checkbox-open {
    position: absolute;
    width: 266px;
    height: 277px;
    left: 140px;
    top: 1246px;
}
.checkbox-open__btn{
    width: 266px;
    height: 44px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

button.checkbox-open__title{
    width: 266px;
    height: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    border: none;
    background: none;
    text-align: left;
}

.checkbox-open__btn:hover .checkbox-open__expandable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 17px;
}

.checkbox-open__expandable{
    display: none;
}

.checkbox-open__input{
    display: none;
}

// меняею стрелочку, открыто на закрыто
.checkbox-open__btn:hover .expand_more_closed{
    display: none;
}

.checkbox-open__btn:hover .expand_more_open{
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0%;
    top: 0px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.expand_more_open{
    display: none;
} 
.expand_more_closed{
    position: absolute;
    width: 44px;
    height: 43px;
    right: 0%;
    top: 0; 
    display: flex;
    align-items: center;
    justify-content: center;  
}




.checkbox-open__label{
    width: 400px;
    color: rgba(31, 32, 65, 0.5);;
    line-height: 18px;
    display: flex;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
}

.checkbox-open__label:before {
    box-sizing: border-box;
    content: " ";
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: block;    
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-right: 9px;
    margin-bottom: 10px;
}

.checkbox-open__input:checked + .checkbox-open__label::before{
    border-color: #BC9CFF;
    content:  url("/src/img/Vector.svg");
    padding-left: 4px;
    padding-bottom: 0px;
}
