.checkbox-open
    .checkbox-open__btn
        +expand_more_open
        button.checkbox-open__title expandable checkbox list  
            #myDropdown.checkbox-open__expandable  
                input#nomber1(type='checkbox').checkbox-open__input
                label(for='nomber1').checkbox-open__label Завтрак
                input#nomber2(type='checkbox').checkbox-open__input
                label(for='nomber2').checkbox-open__label Письменный стол
                input#nomber3(type='checkbox').checkbox-open__input
                label(for='nomber3').checkbox-open__label Стул для кормления
                input#nomber4(type='checkbox').checkbox-open__input
                label(for='nomber4').checkbox-open__label Кроватка
                input#nomber5(type='checkbox').checkbox-open__input
                label(for='nomber5').checkbox-open__label Телевизор
                input#nomber6(type='checkbox').checkbox-open__input
                label(for='nomber6').checkbox-open__label Шампунь
                input#nomber7(type='checkbox').checkbox-open__input
                label(for='nomber7').checkbox-open__label Телевизор
                input#nomber8(type='checkbox').checkbox-open__input
                label(for='nomber8').checkbox-open__label Шампунь


