mixin checkbox-open(array)
    .checkbox-open__btn
        +expand_more_open
        +expand_more_closed  
        button.checkbox-open__title expandable checkbox list  
            .checkbox-open__expandable
                -for(var i=0;  i<array.length; i++)
                    input.checkbox-open__input(id= array[i].id type='checkbox' checked= array[i].checked)
                    label(for= array[i].id).checkbox-open__label= array[i].items

               
                



          
            
