.form-date-f1{
    position: absolute;
    width: 150px;
    height: 65px;
    left: 141px;
    top: 502px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.form-date-f2 {
    position: absolute;
    width: 150px;
    height: 65px;
    left: 311px;
    top: 502px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-filter-date-dropdown{
    position: absolute;
    width: 266px;
    height: 65px;
    left: 141px;
    top: 607px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-dropdown__btn{   
    position: relative;
    width: 150px;
    height: 44px;
    outline: none;
    display: inline-block;
    text-align: left;
    padding-left: 15px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.date-dropdown__btn::-webkit-calendar-picker-indicator{
    opacity: 0;
    padding-right: 10px;
}

.date-dropdown__btn[type=date]{
    background:url("../img/expand_more.png") no-repeat 90% 50%;
}