mixin button-payment-exemple()
    .button-payment
        button.button-payment__btn перейти к оплате
        .button-payment-arrow-forward
            +arrow-forward


.button-payment-exemple
    +button-payment-exemple