div.groupColor
    div.boxSize.darkShade100
        div.colorsValue 
            h1.colorName Dark Shade 100%
            p.colorValue #1F2041
    div.boxSize.darkShade75
        div.colorsValue 
            h1.colorName Dark Shade 75%
            p.colorValue #1F2041
    div.boxSize.darkShade50
        div.colorsValue
            h1.colorName Dark Shade 50%
            p.colorValue #1F2041
    div.boxSize.darkShade25
        div.colorsValue
            h1.colorName Dark Shade 25%
            p.colorValue #1F2041                
    div.boxSize.darkShade5
        div.colorsValue
            h1.colorName Dark Shade 5%
            p.colorValue #1F2041
    div.boxSize.purpleBox
        div.colorsValue
            h1.colorName Purple
            p.colorValue #1F2041
    div.boxSize.greenBox
        div.colorsValue
            h1.colorName Green
            p.colorValue #1F2041



                               
    