div.groupTypeFont
    table
        tr
          th.nameTypeH1 H1
          th.valueH1 This one is the sub-section or widget title
        tr
          th.nameTypeH2 H2
          th.valueH2 Next one is the item title inside widgets
        tr
          th.nameTypeH3 H3
          th.valueH3 This is a label or CTA text
        tr
          th.nameTypeBody Body
          th.valueBody This is the body text which is used for most of the design, like paragraphs, lists, etc.     
