.groupColor{
    position: absolute;
    width: 281.26px;
    height: 610px;
    left: 149.74px;
    top: 145px;
}

.boxColor {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 150px;
    top: 145px;
    background: #1F2041;
    border-radius: 6px;
}
.darckShade {
    position: relative;
    width: 171px;
    height: 56px;
    left: 260px;
    top: 152px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1F2041;
}

