.landing-page{
    max-width: 1440px;
    height: 1343px;    
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;    
    
}

.landing-page__img{    
    max-width: 1440px;
    min-height: 100vh;
    background-image: url('/src/img/rooms/BigImage1.png');   
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;  
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;  
    padding-left: 9.722%;
    padding-right: 9.722%;
    padding-top: 4.861%;
    padding-bottom: 1.125%;
}

.landing-page__slogan{  
max-width: 297px;
height: 48px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: right;
color: rgba(31, 32, 65, 0.75);
align-self: flex-end;
}