.search-room{
    position: relative;
    max-width: 1440px;    
    background: #FFFFFF;    
    overflow: hidden;    
}

.search-room__content{
    display: flex;
    justify-content: flex-start;    
    max-width: 1440px;
    padding-left: 9.722%;
    padding-right: 9.722%;
    padding-top: 2.083%;
    padding-bottom: 4.861%;   
}

.search-room__filter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 60px;    
}

.search-room__filter-wrap-scope{
    margin-bottom: 20px;
}

.search-room__filter-wrap   {
    margin-bottom: 30px;
}

.search-room__demand{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.search-room__demand-title {
height: 30px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #1F2041;
margin-bottom: 20.5px;
}

.search-room__demand-rooms {    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-room__demand-rooms .room-image{    
    margin-bottom: 20px; 
}

.search-room__demand-pagination{
    align-self: center;
    margin-top: 21px;
}