.checkbox-closed-example{
    position: absolute;
    width: 266px;
    height: 44px;
    left: 141px;
    top: 1182px;
     
}

.checkbox-closed__btn{
    width: 266px;
    height: 44px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle
}

button.checkbox-closed__title{
    width: 266px;
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    border: none;
    background: none;
    text-align: left;
}

.checkbox-closed__expandable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 17px;
    display: none;
}
.show {
    display: block;
}

.checkbox-closed__input{
    display: none;
}
.checkbox-closed__label{
    width: 400px;
    color: rgba(31, 32, 65, 0.5);;
    line-height: 18px;
    display: flex;
    vertical-align: middle;
}


.checkbox-closed__label:before {
    box-sizing: border-box;
    content: " ";
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-right: 9px;
    margin-bottom: 10px;
}

.checkbox-closed__input:checked + .checkbox-closed__label::before{
    border-color: #BC9CFF;
    content:  url("/src/img/Vector.svg");
    padding-left: 4px;
    padding-bottom: 0px;
}

