mixin checkbox-closed(name)
    .checkbox-closed__btn
        button.checkbox-closed__title(onclick='mFunction()')= name
            #myDropdown.checkbox-closed__expandable  
                input#test(type='checkbox').checkbox-closed__input
                label(for='test').checkbox-closed__label test
               


//-изменить, после того, как научусь правильно js подключать
script
    include checkbox-closed.js