mixin advantages(img, title, description)    
    .advantages
        .insert_emoticon 
            img(src= img)
        .advantages__text    
            .advantages__title= title
            .advantages__description= description



