mixin advantages(img, title, description)    
    .advantages        
        .advantages__insert-emoticon 
            img(src= img)
        .advantages__text    
            .advantages__title= title
            .advantages__description= description
    hr.advantages-hr    



