doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  include connecting.pug
  body.Cards
    .account-example
      +account
    .find-rooms-example
      +find-rooms
    .enter-account-example 
      +enter-account
    .room-details-example
      +room-details
    .room-image-example
      +room-image
   

