doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  include connecting.pug
  include ../colorsType/_logo
  body.Cards
    .account-example
      +account
    .find-rooms-example
      +find-rooms
    .enter-account-example 
      +enter-account
    .room-details-example
      +room-details
    .room-image-example
      +room-image({
        number : '840',
        price : '9 900₽',       
        img : './img/rooms/image1.png',
        reviews : '65',  
        stars1 : 4,
        stars2 : 1,
      })
    .room-image-example2
      +room-image2({
        number : '888',
        category : 'люкс',
        price : '9 990₽',       
        img : './img/rooms/image2.png',
        reviews : '145',  
        stars1 : 5,
        stars2 : 0,
      })
    .datepicker-example
      +datepicker
