doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body.ColorsType 
    include ../colorsType/_logo
    include ../FormElement/form-input/_FormInput
    include ../FormElement/form-input-date/_FormInputDate
    include ../FormElement/subscript/_SubscriptionTextField.pug
    include ../FormElement/dropdown/_Dropdown.pug
    include ../FormElement/dropdown-rooms/_Dropdown_rooms.pug
    include ../FormElement/dropdown-guests/_dropdown_guests.pug
    
    
    
    include ../FormElement/checkbox/checkbox-closed/checkbox-closed.pug