doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body.ColorsType 
    include ../colorsType/_logo
    include ../FormElement/_FormInput
    include ../FormElement/_FormInputDate
    include ../FormElement/_SubscriptionTextField.pug
    include ../FormElement/_Dropdown.pug
    include ../FormElement/_Dropdown_version.pug