doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
    body.Form-Elements  
        include connecting.pug
        include ../colorsType/_logo
        .form-input-subscription-text-field
            +titlebox('subscription text field')
            +subscription-text-field('Email')    
        .comfort 
            +advantages('insert_emoticon', "Комфорт", 'Шумопоглощающие стены')

        .convenience
            +advantages('location_city', "Удобство", 'Окно в каждой из спален')

        .bullet-list-example
            +bullet-list

        .button-payment-exemple
            +button-payment('перейти к оплате')

        .buttons-exemple
            .buttons-exemple__title buttons
            .buttons-exemple__conteiner1
                +buttons-click-split('CLICK ME')
                +buttons-click-split('CLICK ME', 'disabled')
            .buttons-exemple__conteiner2   
                +buttons-click-emty('CLICK ME')
                +buttons-click-emty('CLICK ME', 'disabled')
            .buttons-exemple__btn-text
                +buttons-click-text('CLICK ME')
                +buttons-click-text('CLICK ME', 'disabled')
        .checkbox-buttons-example
            +titlebox('Checkbox Buttons') 
            +checkbox-buttons([
                {   items: "Можно курить",
                    id: 'btn1',
                    checked: false                  
                },
                {   items: "Можно с питомцами",
                    id: 'btn2',
                    checked: ""                   
                },
                {   items: "Можно пригласить гостей (до 10 человек)",
                    id: 'btn3',
                    checked: ""                   
                }
            ])

        .checkbox-closed-example
            +checkbox-closed('expandable checkbox list') 
            +expand_more       

        .checkbox-open
            +checkbox-open([
                {   items: "Завтрак",
                    id: "open1",
                    checked: false                  
                },
                {   items: "Письменный стол",
                    id: "open2",
                    checked: ""                   
                },
                {   items: "Стул для кормления",
                    id: "open3",
                    checked: ""                   
                },
                {   items: "Кроватка",
                    id: "open4",
                    checked: ""                   
                },
                {   items: "Телевизор",
                    id: "open5",
                    checked: false                   
                },
                {   items: "Шампунь",
                    id: "open6",
                    checked: false                  
                },
                {   items: "Телевизор",
                    id: "open7",
                    checked: false                   
                },
                {   items: "Шампунь",
                    id: "open8",
                    checked: false                  
                }
        ])

        .like-buttons
            .like-buttons__title like button
            .like-buttons__form
                +like-buttons('like1', "2", like, 2)
                +like-buttons('like2', "12", like2, 12)

        .radio-buttons-example
            +titlebox('Radio Buttons')    
            +radio-buttons

        .rate-buttons-title
            +titlebox('rate button')

        .rate-buttons-1
            +rate-buttons-stars(4, 1)
    
        .rate-buttons-2
            +rate-buttons-stars(5, 0)

        .rich-checkbox-buttons-example
            +rich-checkbox-buttons

        .toggle-example
            .toggle__title Toggle
            +toggle('toggleCheckbox1', 'Получать спецпредложения')
            +toggle('toggleCheckbox2', 'Получать спецпредложения')

        .dropdown-example    
            +titlebox('Dropdown')    
            +dropdown({
                name: 'Сколько гостей',
                btns: ['взрослые', 'дети', 'младенцы'],
                clear: 'Очистить',
                accept: 'Применить'
                 })        

        .dropdown-default-rooms
            +titlebox('Dropdown', 'Default')
            +dropdown-rooms({
                name: '2 спальни, 2 кровати...',
                btns: ['спальни', 'кровати', 'ванные комнаты'],
                })              
    
        .dropdown-expanded-guests-1
            +titlebox('dropdown')
            +dropdown({
                name: 'Сколько гостей',
                btns: ['взрослые', 'дети', 'младенцы'],
                clear: '',
                accept: 'Применить'
                 })   


        .dropdown-expanded-guests-2
            +titlebox('dropdown')
            +dropdown({
                name: '3 гостя',
                btns: ['взрослые', 'дети', 'младенцы'],
                clear: 'Очистить',
                accept: 'Применить'
                 })       

        .dropdown-expanded-rooms    
            +titlebox('Dropdown', 'expanded')
            +dropdown-rooms({
                name: '2 спальни, 2 кровати...',
                btns: ['спальни', 'кровати', 'ванные комнаты'],
                })    
        
           

        .form-input-default
            +titlebox('Text Field', 'Default')
            +form-input({
                    name: "Email",
                    value: "",
                    placeholder: "Email"
                })               
    
        .form-input-focus
            +titlebox('Text Field', 'HOVER / FOCUS')
            +form-input({
                    name: "Text Field",
                    value: "",
                    placeholder: "This is pretty awesome"
                })              
    
        .form-input-masked
            +titlebox('masked text field')
            +form-input({
                    name: "masked",
                    value: "",
                    placeholder: "ДД.ММ.ГГГГ"
                })   

        .pagination-example
            +titlebox('pagination')
            +pagination

        .range-slider-exemle
            +range-slider   

        .review-Murad
            +reviews({
            img: 'reviews__author-img',
            name: 'Мурад Сарафанов',
            date: '5 дней назад',
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            like: "12"
        })  
        

        .form-date-f1
            +titlebox('date Dropdown')
            +date-dropdown('ДД.ММ.ГГГГ')   

        .form-date-f2
            +titlebox('date Dropdown')
            +date-dropdown('19.08.2019')       

        .form-filter-date-dropdown
            +titlebox('filter date dropdown')
            +date-dropdown('19 авг - 23 авг') 

           
    
    
    
    
    


