doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body.Form-Elements
    include ../FormElement/expand_more/_expand_more.pug
    include ../FormElement/btn-inner/_btn_inner.pug 
    include ../colorsType/_logo
    include ..//FormElement/arrow/_arrow.pug
    include ..//FormElement/button-payment/arrow-forward.pug
    
    include ../FormElement/titlebox/titlebox.pug
    include ../FormElement/dropdown-input/form-input/_FormInput
    include ../FormElement/dropdown-input/form-input-date/_FormInputDate
    include ../FormElement/dropdown-input/subscript/_SubscriptionTextField.pug
    include ../FormElement/dropdown-input/dropdown/_Dropdown.pug
    include ../FormElement/dropdown-input/dropdown-rooms/_Dropdown_rooms.pug
    include ../FormElement/dropdown-input/dropdown-guests/_dropdown_guests.pug
   
    
    
    include ../FormElement/checkbox/checkbox-closed/checkbox-closed.pug
    include ../FormElement/checkbox/checkbox-open/checkbox-open.pug
    include ../FormElement/checkbox/checkbox-buttons/checkbox-buttons.pug
    include ../FormElement/checkbox/rich-checkbox-buttons/rich-checkbox-buttons.pug
    include ../FormElement/checkbox/radio-buttons/radio-buttons.pug
    include ../FormElement/checkbox/toggle/toggle.pug
    include ../FormElement/checkbox/like-buttons/like-buttons.pug
    include ../FormElement/checkbox/rate-buttons/rate-buttons.pug
    include ../FormElement/bullet-list/bullet-list.pug
    include ../FormElement/advantages/advantages.pug
    include ../FormElement/reviews/reviews.pug
    include ../FormElement/range-slider/range-slider.pug
    include ../FormElement/buttons/buttons.pug
    include ../FormElement/button-payment/button-payment.pug
    include ../FormElement/pagination/pagination.pug
  

    
    
    
    
    


