doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
    body.Headers-Footers
        include connecting.pug
        .footer-example
            +footer

        .footer-mobile-example
            +footer-mobile
        
        .header-example1
            +header-f1
    
        .header-example2
            +header-f2