doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body.Headers-Footers
    
    include ../colorsType/_logo
    include ../FormElement/expand_more/_expand_more.pug
    include ../HeadersFooters/Headers/colors-logo.pug
    include ../HeadersFooters/Headers/Headers.pug
    include ../HeadersFooters/Footers/Footers.pug