extends ../layout


block prepend heading
    title Search room
block main    
    .room-detalis     
        .room-detalis__picture       
            img(src="", alt="")
            img(src="", alt="")
            img(src="", alt="")
        .room-detalis__info 
            .room-detalis__info-description
                .room-detalis__info-description-extra
                    .room-detalis__info-description-extra-int 
                    .room-detalis__info-description-extra-stat
                .room-detalis__info-description-reviews 
                .room-detalis__info-description-booking
                    .room-detalis__info-description-booking-rules
                    .room-detalis__info-description-booking-cancell
            .room-detalis__info-card