doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        include connecting.pug
    body
        .search-room
            +header-f1
            .search-room__content
                .search-room__filter
                    +titlebox('даты пребывания в отеле')
                    +date-dropdown('19 авг - 23 авг') 
                    +titlebox('гости')
                    +dropdown-rooms({
                        name: '3 гостя, 1 младенец',
                        btns: ['взрослые', 'дети', 'младенцы'],
                        clear: 'Очистить',
                        accept: 'Применить'
                    }) 
                    +range-slider({
                        title: "диапазон цены",
                        text: "Стоимость за сутки пребывания в номере"
                    }) 
                    +titlebox('правила дома') 
                    +checkbox-buttons([
                    {   items: "Можно курить",
                    id: 'btn1',
                    checked: false                  
                    },
                    {   items: "Можно с питомцами",
                    id: 'btn2',
                    checked: ""                   
                    },
                    {   items: "Можно пригласить гостей (до 10 человек)",
                    id: 'btn3',
                    checked: ""                   
                    }
                    ])
                    +titlebox('доступность') 
                    +rich-checkbox-buttons([
                    {
                    title: "Широкий коридор",
                    text: "Ширина коридоров в номере <br> не менее 91 см."
                    },
                    {
                    title: "Помощник для инвалидов",
                    text: "На 1 этаже вас встретит специалист<br> и проводит до номера."
                    }
                    ])
                    +titlebox('удобства номера') 
                    +dropdown-rooms({
                    name: '2 спальни, 2 кровати...',
                    btns: ['спальни', 'кровати', 'ванные комнаты'],
                    }) 
                    +checkbox-open("дополнительные удобства",
                    [
                    {
                        items: "Завтрак",
                        id: "open1",
                        checked: false                  
                    },
                    {   
                        items: "Письменный стол",
                        id: "open2",
                        checked: ""                   
                    },
                    {
                        items: "Стул для кормления",
                        id: "open3",
                        checked: ""                   
                    },
                    {
                        items: "Кроватка",
                        id: "open4",
                        checked: ""                   
                    },
                    {
                        items: "Телевизор",
                        id: "open5",
                        checked: false                   
                    },
                    {
                        items: "Шампунь",
                        id: "open6",
                        checked: false                  
                    },
                    {
                        items: "Телевизор",
                        id: "open7",
                        checked: false                   
                    },
                    {
                        items: "Шампунь",
                        id: "open8",
                        checked: false                  
                    }
                    ])  

                .search-room__demand
                    .search-room__demand-title Номера, которые мы для вас подобрали
                    .search-room__demand-rooms
                        +room-image2({
                            number : '888',
                            category : 'люкс',
                            price : '9 990₽',       
                            img : './img/rooms/image2.png',
                            reviews : '145',  
                            stars1 : 5,
                            stars2 : 0,
                        })
                        +room-image({
                            number : '840',
                            price : '9 900₽',       
                            img : './img/rooms/image1.png',
                            reviews : '65',  
                            stars1 : 4,
                            stars2 : 1,
                        })
                        +room-image({
                            number : '980',
                            price : '8 500₽',       
                            img : './img/rooms/image1.png',
                            reviews : '35',  
                            stars1 : 3,
                            stars2 : 2,
                        })
                        +room-image({
                            number : '856',
                            price : '7 300₽',       
                            img : './img/rooms/image1.png',
                            reviews : '19',  
                            stars1 : 5,
                            stars2 : 0,
                        }) 
                        +room-image({
                            number : '740',
                            price : '6 000₽',       
                            img : './img/rooms/image1.png',
                            reviews : '44',  
                            stars1 : 4,
                            stars2 : 1,
                        })
                        +room-image({
                            number : '982',
                            price : '5 800₽',       
                            img : './img/rooms/image1.png',
                            reviews : '56',  
                            stars1 : 3,
                            stars2 : 2,
                        })
                        +room-image({
                            number : '678',
                            price : '5 500₽',       
                            img : './img/rooms/image1.png',
                            reviews : '45',  
                            stars1 : 5,
                            stars2 : 0,
                        })
                        +room-image({
                            number : '450',
                            price : '5 300₽',       
                            img : './img/rooms/image1.png',
                            reviews : '39',  
                            stars1 : 4,
                            stars2 : 1,
                        })
                        +room-image({
                            number : '350',
                            price : '5 000₽',       
                            img : './img/rooms/image1.png',
                            reviews : '77',  
                            stars1 : 3,
                            stars2 : 2,
                        })
                        +room-image({
                            number : '666',
                            price : '5 000₽',       
                            img : './img/rooms/image1.png',
                            reviews : '25',  
                            stars1 : 5,
                            stars2 : 0,
                        })
                        +room-image({
                            number : '444',
                            price : '5 000₽',       
                            img : './img/rooms/image1.png',
                            reviews : '15',  
                            stars1 : 3,
                            stars2 : 2,
                        })
                        +room-image({
                            number : '352',
                            price : '5 000₽',       
                            img : './img/rooms/image1.png',
                            reviews : '55',  
                            stars1 : 3,
                            stars2 : 2,
                        })
                       
                    .search-room__demand-pagination
                        +pagination
            +footer

