.expand{
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.expand_more_open{
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0%;
    top: 0px; 
    display: flex;
    align-items: center;
    justify-content: center;    
}

.expand_more_closed{
    position: absolute;
    width: 44px;
    height: 43px;
    right: 0%;
    top: 19px; 
    display: flex;
    align-items: center;
    justify-content: center;   
}

.expand-more-header {
    position: absolute;
    width: 24px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;   
    right: 0%;
    top: 0%; 
}