mixin radio-buttons
    
    .radio-buttons__form
        input#radio1(type='radio' name='radio' value='1' checked='').radio-buttons__input
        label(for='radio1').radio-buttons__label Мужчина
        input#radio2(type='radio' name='radio' value='2').radio-buttons__input
        label(for='radio2').radio-buttons__label Женщина

