.polzunok-container-3 * {
    box-sizing: border-box;
    outline: none;
}
.polzunok-container-3 {
    padding: 10px 0;
    position: relative;
}
.polzunok-container-3 .polzunok-bg-3 {
    position: absolute;
    background: #BFE2FF;
    height: 32px;
    width:100%;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.polzunok-container-3 .ui-slider {
    position: relative;
    height: 32px;
    width: calc(100% - 80px);
    left: 40px;
}
.polzunok-container-3 .ui-slider b {
    position: absolute;
    font-size:18px;
    padding: 7px 20px;
    z-index:5;
}
.polzunok-container-3 .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left:-40px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 80px;
    height: 32px;
    padding-top: 7px;
    z-index: 3;
    background: #FFF;
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
}
.polzunok-container-3 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 32px;
    display: block;
    border: 0;
    background: #337AB7;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.polzunok-container-3 .ui-slider-horizontal .ui-slider-range-min, 
.polzunok-text-left-3 {
    left: -40px;
    color: #FFF;
}
.polzunok-container-3 .ui-slider-horizontal .ui-slider-range-max, 
.polzunok-text-right-3 {
    right: -40px;  
    color: #000;
}