mixin range-slider
	.range-slider
		.range-slider___name-value
			+titlebox('range-slider') 
			.range-slider__input
				input.polzunok-input-5-left(type='text')
				input.polzunok-input-5-right(type='text')
		.polzunok-container-5
			.polzunok-5

.range-slider-exemle
	+range-slider