.range-slider-exemle{
    position: absolute;
    width: 266px;
    height: 47.44px;
    left: 979px;
    top: 143px;
}

.range-slider___name-value{
    width: 266px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.polzunok-container-5 * {
    box-sizing: border-box;
    outline: none;
}

.polzunok-container-5:after {
    content: "";
    clear: both;
    display: table;
}
.polzunok-container-5 .ui-slider {
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    width: 266px;
    height: 6px;
    margin-top: 18px;
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
    position: absolute;
    width: 12px;
    height: 12px;
    cursor: pointer;    
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    z-index: 2;
    
}

.polzunok-input-5-left,
.polzunok-input-5-right {
    
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    border: none;
    
}
.polzunok-input-5-left{
    width: 54px;
}
.polzunok-input-5-right{
    width: 42px;
}

.range-slider__input{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.polzunok-container-5 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    width: 88px;
    height: 6px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
}