mixin checkbox-buttons(array)
    .checkbox-buttons__checkbox
        -for(var i=0;  i<array.length; i++)            
            input.checkbox-buttons__input(id= array[i].id type='checkbox' checked= array[i].checked)
            label(for= array[i].id).checkbox-buttons__label= array[i].items


        
        
        


