.checkbox-buttons-example {
    position: absolute;
    width: 222px;
    height: 129.12px;
    left: 587px;
    top: 143px;
}

.checkbox-buttons__checkbox{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    margin-top: 16px;
}

.checkbox-buttons__input{
    display: none;
}
.checkbox-buttons__label{
    width: 222px;
    color: rgba(31, 32, 65, 0.5);;
    line-height: 18px;
    display: flex;
    
    vertical-align: middle;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 222;
    font-size: 14px;
    text-transform: none;
}

.checkbox-buttons__label:before {
    box-sizing: border-box;
    content: " ";
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-right: 9px;
    margin-bottom: 10px;
}

.checkbox-buttons__input:checked + .checkbox-buttons__label::before{
    border-color: #BC9CFF;
    content:  url("/src/img/Vector.svg");
    padding-left: 4px;
    padding-bottom: 0px;
}
