.dropdown-expanded-rooms{
    position: absolute;
    width: 266px;
    height: 181.56px;
    left: 140px;
    top: 960px;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));;
}
.dropdown-expanded-rooms__title{
    width: 266px; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-expanded-rooms__type{
    width: 81px;
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.dropdown-expanded-rooms__value{
    width: 57px;
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    padding-bottom: 3px;
}

.dropdown-expanded-rooms__input-field{
    width: 266px;
    height: 44px;
    background: #FFFFFF;
    
    box-sizing: border-box;
    -webkit-appearance: none;
    cursor: pointer;
}

.dropdown-expanded-rooms__dropdown-btn {
    width: 266px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    
}  

//выпадающий список
.dropdown-expanded-rooms__choice {
    display: flex;
    flex-wrap: wrap;
    width: 266px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
}

.dropdown-expanded-rooms__rooms,
.dropdown-expanded-rooms__beds,
.dropdown-expanded-rooms__bathroom{
    width: 251px;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    margin-top: 7px;
    
}

