.form-input-subscription-text-field
    .form-input-subscription-text-field__type subscription text field
    .form-input-subscription-text-field__input-field
        input.form-input-subscription-text-field__input(type="text" placeholder= 'Email')
        .form-input-subscription-text-field__arrow_forward
            include ../arrow/_arrow.pug
   
