.rich-checkbox-buttons {
    position: absolute;
    width: 266px;
    height: 145px;
    left: 587px;
    top: 1196px;
}

.rich-checkbox-buttons__title{
    width: 222px;
    height: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    border: none;
    background: none;
    text-align: left;
}

.rich-checkbox-buttons__checkbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 17px;
}

.rich-checkbox-buttons__input{
    display: none;
}
.rich-checkbox-buttons__label{
    width: 222px;
    color: rgba(31, 32, 65, 0.5);;
    line-height: 18px;
    display: flex;
    
    vertical-align: middle;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 222;
    font-size: 14px;
    text-transform: none;
}

.rich-checkbox-buttons__label:before {
    box-sizing: border-box;
    content: " ";
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-right: 9px;
    margin-bottom: 10px;
}

.rich-checkbox-buttons__input:checked + .rich-checkbox-buttons__label::before{
    border-color: #BC9CFF;
    content:  url("/src/img/Vector.jpg");
    padding-left: 4px;
    padding-bottom: 0px;
}
