.rich-checkbox-buttons {
    position: absolute;
    width: 266px;
    height: 145px;
    left: 587px;
    top: 1196px;
}

.rich-checkbox-buttons__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.rich-checkbox-buttons__checkbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
}

.rich-checkbox-buttons__input{
    display: none;
}
.rich-checkbox-buttons__label{
    color: rgba(31, 32, 65, 0.5);;
    display: flex;    
    flex-wrap: wrap;
    align-items: flex-start;
    width: 233px;
    height: 52px;
    margin-bottom: 10px;
}

.rich-checkbox-buttons__label:before {
    box-sizing: border-box;
    content: " ";
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    margin-right: 9px;
    
}

.rich-checkbox-buttons__input:checked + .rich-checkbox-buttons__label::before{
    border-color: #BC9CFF;
    content:  url("/src/img/Vector.svg");
    padding-left: 4px;
    padding-top: 2px;
}

.rich-checkbox-buttons__label-title{
    width: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    
    color: rgba(31, 32, 65, 0.75);
    text-transform: none;
}


.rich-checkbox-buttons__label-decryption{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    
    color: rgba(31, 32, 65, 0.5);
    padding-left: 31px;
    text-transform: none;
}