mixin dropdown-rooms-content(object)
    .dropdown-expanded-rooms__choice      
        .dropdown-expanded-rooms__rooms
            div= object.rooms
            +quantity_inner            
        .dropdown-expanded-rooms__beds
            div= object.beds
            +quantity_inner              
        .dropdown-expanded-rooms__bathroom
            div= object.bathroom
            +quantity_inner

.dropdown-expanded-rooms    
    +titlebox('Dropdown', 'expanded')
    +dropdown('2 спальни, 2 кровати...')
        
    +dropdown-rooms-content({
        rooms: 'спальни',
        beds: 'кровати',
        bathroom: 'ванные комнаты'
    })    
    
        
             
    
                  
                

