mixin dropdown-rooms(object)
    .dropdown-rooms
        button.dropdown-rooms__btn= object.name
            +expand_more 
        .dropdown-rooms__content
            -for(var i=0;  i<object.btns.length; i++)
                .dropdown-rooms__choice= object.btns[i]
                    +quantity_inner
            
