.dropdown-default-rooms{
    position: absolute;
    width: 266px;
    height: 64px;
    left: 140px;
    top: 876px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-expanded-rooms{
    position: absolute;
    width: 266px;
    height: 181.56px;
    left: 140px;
    top: 960px;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
}


.dropdown-rooms {
    position: relative;
    display: inline-block;
    margin-top: 2px;
}

.dropdown-rooms__btn{   
    width: 266px;
    height: 44px;
    outline: none;
    display: inline-block;
    text-align: left;
    padding-left: 15px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.dropdown-rooms__content {
    display: none;    
}



.dropdown-rooms:hover .dropdown-rooms__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 266px;
    height:auto;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-top: none;
    padding-top: 7px;
    padding-bottom: 13px;
    padding-left: 14px;
    padding-right: 7px;
    z-index: 3;
    position: absolute;
}

.dropdown-rooms:hover .dropdown-rooms__choice {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1px;
    margin-bottom: 7px;
}

