
.form-input-default 
    .form-input
        +titlebox('Text Field', 'Default')        
        .form-input__input-field
            input.form-input__unselected-input(type="email" placeholder= 'Email')
      
.form-input.form-input-focus
    +titlebox('Text Field', 'HOVER/FOCUS')
    
    .form-input__input-field
        input.form-input__focus-input(type="text" placeholder='This is pretty awesome')    

.form-input.form-input-dropdown 
    +titlebox('Dropdown')
    
    .form-input__input-field
        input.form-input__dropdown-btn(type = "text" value = "Сколько гостей" disabled)        
        +expand_more

.form-input.form-input-masked-text-field
    +titlebox('masked text field')
    .form-input__input-field
        input.form-input__unselected-input(type="text" placeholder= 'ДД.ММ.ГГГГ') 

  
