.like-buttons {
    position: absolute;
    width: 89.72px;
    height: 51px;
    left: 587px;
    top: 534px;
}
.like-buttons__form{
    display: flex;
}

.like-buttons__input + .like-buttons__label {
    cursor: pointer;
}
.like-buttons__input:not(checked) {
    display: none;
        
}
  .like-buttons__input:not(checked) + .like-buttons__label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 50px; 
       
}

  /* Оформление первой части чекбокса в выключенном состоянии (фон). */
.like-buttons__input:not(checked) + .like-buttons__label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 40px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
}
  /* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.like-buttons__input:not(checked) + .like-buttons__label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 5px;
    width: 10px;
    height: 10px;
    content: url("/src/img/favorite_border.svg");
    
 }

  /* Меняем фон чекбокса, когда он включен. */
.like-buttons__input:checked + .like-buttons__label:before {
    border:1px solid #BC9CFF;
    
      }
  /* Меняем цвет сердца. */
.like-buttons__input:checked +.like-buttons__label:after {
    content: url("/src/img/favorite.svg");
    color: rgba(31, 32, 65, 0.25);
}
  
  /* Показываем получение фокуса, если нужно на потом */
.like-buttons__input:focus + .like-buttons__label:before {
    box-shadow: none;
}

  /*Стиль текста*/
.like-buttons__input:not(checked) + .like-buttons__label{
    color: rgba(31, 32, 65, 0.25);
}

.like-buttons__input:checked + .like-buttons__label{
    color: #BC9CFF;
}

.like-buttons__text{
  position:absolute;
  left: 19px;
  top: 7px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
