.buttons-exemple{
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 218px;
    height: 195px;
    left: 979px;
    top: 231px;
}
.span{
    width: 80px;
}
.buttons-container__btn-split{    
    width: 99px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;      
}

.buttons-container__btn-split:disabled,
.buttons-container__border:disabled{
    opacity: 0.5;
}

.buttons-container__btn-split:active,
.buttons-container__border:active{
    opacity: 0.5;
}

.buttons-container__btn-empty{
    width: 97px;
    height: 42px;
    background:  #FFFFFF;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    margin: 1px;
}
.buttons-container__border{
    width: 99px;
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.buttons-container__btn-text{    
    background:  #FFFFFF;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}

.buttons-container__btn-text:disabled{
    color: rgba(31, 32, 65, 0.5);
}
.buttons-container__btn-text:active{
    color: rgba(31, 32, 65, 0.5);
}

.buttons-exemple__btn-text{
    width: 142px;
    display: flex;
    justify-content: space-between;    
}