mixin buttons-click-split(name, disabl)
    .buttons-container
        button(disabled= disabl).buttons-container__btn-split= name

mixin buttons-click-emty(name, disabl)
    .buttons-container
        .buttons-container__border(disabled= disabl)
            button(disabled= disabl).buttons-container__btn-empty= name

mixin buttons-click-text(name, disabl)
    .buttons-container      
        button(disabled= disabl).buttons-container__btn-text= name

