mixin footer
    .footer-container
        .footer-container__menu
            .footer-container__brend   
                .footer-container__logo
                +colors-logo
                +text-logo
            .footer-container__nav
            .footer-container__about
            .footer-container__support
            .footer-container__subscription
        .footer-container___copyright








.footer-example1
    +footer


.footer-mobile-example