.dropdown-default-rooms
    .dropdown-default-rooms__title
        .dropdown-default-rooms__type dropdown
        .dropdown-default-rooms__value Default
    .dropdown-default-rooms__input-field
        select.dropdown-default-rooms__dropdown-btn         
            option.dropdown-default-rooms__choice 2 спальни, 2 кровати...
    
    