include /_btn_inner.pug

.prt
    +quantity_inner

.dropdown-expanded-rooms    
    .dropdown-expanded-rooms__title
        .dropdown-expanded-rooms__type dropdown
        .dropdown-expanded-rooms__value Default
    .dropdown-expanded-rooms__input-field
        input.dropdown-expanded-rooms__dropdown-btn(type = "text" value = "Сколько комнат" disabled)         
    .dropdown-expanded-rooms__POLE      
        .dropdown-expanded-rooms__room
            div спальни             
        .dropdown-expanded-rooms__bad
            div кровати              
        .dropdown-expanded-rooms__toul
            div ванные комнаты
                  
                

