.form-input.form-input-default 
    .form-input__title 
        .form-input__type Text Field
        .form-input__value Default
    .form-input__input-field
        input.form-input__unselected-input(type="email" placeholder= 'Email')
      
.form-input.form-input-focus 
    .form-input__title 
        .form-input__type Text Field
        .form-input__value HOVER/FOCUS
    .form-input__input-field
        input.form-input__focus-input(type="text" placeholder='This is pretty awesome')    

.form-input.form-input-dropdown 
    .form-input__title 
        .form-input__type Dropdown
    .form-input__input-field
        select.form-input__dropdown-btn         
            option Сколько гостей

.form-input.form-input-masked-text-field
    .form-input__title 
        .form-input__type masked text field
    .form-input__input-field
        input.form-input__unselected-input(type="masked" placeholder= 'ДД.ММ.ГГГГ') 

  
